


.hot-container {
    width: 100%;
  }


  .navbar-nav a:hover {
    color: #160606;
    background-color: #007bff;
    border-radius: 5px;
  }
  .logout-button {
    border: none;
    background-color: #f8f9fa;
    cursor: pointer;
  }
  .logout-button:hover {
    color: #007bff;
  }


body {
  font-family: 'Arial, sans-serif';
  background-color: #f8f9fa;
  color: #343a40;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.multi-select-container {
    position: relative;
    width: 300px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
    color: #495057;
    padding: 10px;
    margin-bottom: 20px;
}

.multi-select-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    top: 45px;
    width: 100%;
    border: 1px solid #ced4da;
    background: #fff;
    z-index: 1000;
}

.multi-select-container ul li {
    padding: 10px;
    cursor: pointer;
}

.multi-select-container ul li:hover {
    background-color: #f1f1f1;
}

.multi-select-container ul li.selected {
    background-color: #e9ecef;
}

.multi-select-container > div {
    cursor: pointer;
}

.btn-group {
    display: flex;
    align-items: center;
}

.btn-group .form-group {
    margin-right: 20px;
}




/* body header .navbar{
  background-color: #3c00ff;
  } */



/* Base styling for the navbar */
header .navbar {
  /* background-color: #007bff; Primary color */

  box-shadow: 0 2px 4px rgba(0,0,0,.1); /* subtle shadow for depth */
  width: auto;
  height: 45px;
}

/* Navbar brand/logo style */
.navbar-brand {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: #f8f9fa;
}

/* Navbar links style */
.navbar-nav .nav-link {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa; /* Lighter shade for hover state */
  background-color: transparent;
}

/* Active state of navbar links */
.navbar-nav .nav-item.active .nav-link, 
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #f8f9fa; /* slightly different color for active state */
}

/* Navbar toggle (hamburger menu) style for smaller screens */
.navbar-toggler {
  border: none;
  background-color: #ffffff; /* light background */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



/* Adjustments for different screen sizes */
@media (max-width: 992px) {
  .navbar {
      background-color: #0056b3; /* slightly darker shade for smaller screens */
  }
}

/* Additional custom styles */
/* Add any other custom styles here */

    /* Container for the progress bar, ensuring full width */
    #progressBarContainer {
  
      background-color: #f0f0f0; /* Light grey background */
      padding: 2px; /* Optional: Adds some space around the progress bar */
      box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
      margin-left: 23em;
      height: 5px;
      padding-bottom: 2px;
  }
  
  /* Styling for the progress bar background */
  .progress {
      background-color: #d3d3d3; /* Slightly darker shade of grey than the container for contrast */
      border-radius: 2px; /* Optional: Rounds the corners of the progress bar */
      overflow: hidden; /* Ensures the inner bar does not overflow the container */
      padding-bottom: 2px;
  }
  
  /* Styling for the actual progress bar */
  .progress-bar {
      background-color: #8B0000; /* Dark red color */
      height: 5px; /* Specified height */
      transition: width 0.4s ease; /* Smooth transition for width changes */
      color: white; /* Text color */
      text-align: center; /* Centers the text within the progress bar */
      line-height: 5px; /* Aligns the text vertically */
      font-size: 10px; /* Adjusts the font size of the text inside the progress bar */
  
  }
  .progress-bar[value="10"] {
    background-color:#d3d3d3; /* Slightly different shade for 25% */
}
  /* Optional: Customize the progress bar for different completion stages */
  .progress-bar[value="25"] {
      background-color: #9B111E; /* Slightly different shade for 25% */
  }
  
  .progress-bar[value="50"] {
      background-color: #B22222; /* Slightly different shade for 50% */
  }
  
  .progress-bar[value="75"] {
      background-color: #C23232; /* Slightly different shade for 75% */
  }
  
  .progress-bar[value="100"] {
      background-color: #D34242; /* Slightly different shade for 100% */
  }
  


/* Navbar status */
/* Custom styles for status colors */
/* Custom styles for status colors against a primary blue navbar */
/* Custom styles for cloud service provider names */
.cloud-service {
  color: #FFFFFF; /* White color for visibility */
  margin-bottom: 0%; /* Reduced bottom margin for tighter spacing */
}

.status-ok {
  color: #98FB98; /* Light green for OK */
}

.status-alarm {
  color: #FFA07A; /* Light coral for Alarm */
}

.status-info {
  color: #FFFFE0; /* Light yellow for Info, adjust if necessary for visibility */
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; /* Ensure no extra bottom margin on the nav-item */
}

.nav-item div {
  display: flex;
  justify-content: center;
  gap: 8px; /* Space between status indicators */
  margin-top: 0; /* Minimize space above the status indicators */
}

@media (max-width: 1300px) {
  .cloud-service, .status-ok, .status-alarm, .status-info {
      font-size: small;
  }
}