<!-- scheduler/templates/scheduler/add_task.html -->

{% extends 'scheduler/s_base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'scheduler/css/scheduler_styles.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'landing/css/style.css' %}" type="text/css">
<div class="schedule">


        <header>
            <nav >
                <ul>
                    <li><a href="{% url 'list_tasks' %}">List Tasks</a></li>
                    <li><a href="{% url 'add_task' %}">Add New Task</a></li>
                    <!-- Add more navigation links as needed -->
                </ul>
            </nav>
        </header>
   


<div class="form-container" style="font-family: Arial, sans-serif;">
    <h2>Add New Task</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}

