{% extends 'landing/base.html' %}
{% block content %}

<!-- Success message div -->
<div id="success-message" class="alert alert-success" style="display: none; background-color: #d4edda; text-align: center; position: fixed; top: 0; left: 0; right: 0; z-index: 9999;">
  Bucket created successfully.
</div>

<h1 style="font-size: 32px; font-weight: bold; color: #333; text-align: center; background-color: #f2f2f2; padding: 10px; margin: 0;">{{heading}}</h1>
<div class="hot-container"><div id="awstable"></div></div>


  <script>

    
      // Show the success message div for 5 seconds when an AJAX call succeeds
      function showSuccessMessage() {
      $('#success-message').show();
      setTimeout(function() {
        $('#success-message').hide();
      }, 5000);
    }
    // Define a function to post data using jQuery
    function postData(url, data, action) {
      console.log("POST URL", url);
      console.log("POST DATA", data);
      return $.ajax({
        url: url,
        type: action, // "get" or "post"
        data: data,
        headers: { 'X-CSRFToken': '{{ csrf_token }}' }, // for CSRF token
        success: function (response) {
          showSuccessMessage();
          console.log("POST SUCCESS", response);
          location.reload(); 
        },
        error: function (request, status, error) {
          alert(request.responseText);
        }
      });
    }

    // Initialize Handsontable with settings and data
    const container = document.querySelector('#awstable');
    const data = {{ data | safe }};
    const keys = Object.keys(data[0]);
    const hot = new Handsontable(container, {
      data: data,
      rowHeaders: true,
      colHeaders: keys,
      height: 'auto',
      manualColumnResize: true,
      manualRowResize: true,
      manualColumnFreeze: true,
      filters: true,
      columnSorting: true,
      persistentState: true,
      contextMenu: true,
      hiddenRows: true,
    //   minSpareRows: 1,
    //   minSpareCols: 1,
    //   startCols: 10,
    // startRows: 10,
      separator: Handsontable.plugins.ContextMenu.SEPARATOR,
      licenseKey: 'non-commercial-and-evaluation', // for non-commercial use only
      beforeRemoveRow: function(index, amount){
      //  console.log('beforeRemove: index: %d, amount: %d', index, amount);
        var sourceRow = hot.getSourceDataAtRow(index);
        console.log(sourceRow)
        var confirmation = confirm("Are you sure you want to remove the item? No recovery possible.");

    if (confirmation) {
     // execute ajax
        alert('Bucket Removed');

        postData('{% url 'removeS3_bucket'%}', { "bucketName": sourceRow["Name"] }, 'post');
        }
        
    },
      afterCreateRow: function (index, amount, source) {
        row_id = index;
      },

      afterChange: function (changes, source) {
        if (source == 'loadData') {
          console.log("NO CHANGE");
        } else {
          console.log("AFTER CHANGE SOURCE changes.length", source, changes);
          if (source == "edit" || source == "UndoRedo.undo" || source === 'CopyPaste.paste' || source === 'Autofill.fill') {
            var rowThatHasBeenChanged = changes[0][0],
              columnThatHasBeenChanged = changes[0][1],
              previousValue = changes[0][2],
              newValue = changes[0][3];
            console.log("ROW THAT HAS BEEN CHANGED", rowThatHasBeenChanged, columnThatHasBeenChanged, previousValue, newValue);
            if (previousValue == null) {
              console.log("NEW ROW");
              postData('{% url 'createS3_bucket'%}', { "bucketName": newValue }, 'post');
              
            }
          }
        }
      }
    });

  </script>



 
  


{% endblock %}