{% extends 'landing/base.html' %}
{% block content %}
{% load static %}


<style>
   
    .sidebar {
        position: fixed;
        flex: 1;
        left: 0px;
        padding: 0px;
        border-right: 1px solid #ccc;
        height: auto; /* Adjust as needed */
        width: 25%; /* Adjust as needed */
        overflow: auto;    
    }
    .sidebar input {
        position: fixed;
        padding: auto;
        text-align: center;
        left: 100px;
    }
    .sidebar ul {
        padding-top: 7%;
        list-style-type: none; /* Removes bullet points */
    }
    .sidebar ul li a:hover,
    .sidebar ul li a:focus {
        font-weight: bold; /* Bold font weight on hover and focus */
}
.main-content {
        position: relative;
}

.main-content h2 {
    font-size: 20px; /* Adjust the size as needed */
    font-weight: 600; /* Slightly bolder than normal but not too heavy */
}

   
.hot-container {
    position: fixed; /* Absolute position */
    top: 75px;         /* Align top with dataList */
    left: 370px;        /* Left position - adjust based on dataList width */
    width: calc(100% - 380px); /* Width calculation based on dataList width */
    height: calc(100vh - 140px); /* Height calculation based on viewport */
    padding: 5px;      /* Padding */
    overflow: auto;     /* Scroll bar if content is too long */
    resize: both;       /* Allow resizing */
   
}

  
#dataList {
    position: fixed;  /* Fixed position relative to the viewport */
    top: 75px;       /* Distance from the top of the viewport */
    left: auto;      /* Distance from the left of the viewport */
    width: 360px;     /* Width of the box */
    height: calc(100vh - 75px); /* Height calculation based on viewport */
    overflow-y: auto; /* Scroll bar if content is too long */
    background-color: white; /* Background color */
    border: 1px solid #ddd;  /* Border styling */
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.2); Shadow for depth */
    z-index: 100;     /* Stack order */
    padding: 10px;    /* Padding inside the box */
    resize: both;     /* Allow resizing */
}

.tableMenuBar {
        display: flex;
        justify-content: space-between;
        border:  #555353;
        /* border-style: solid; */
        background-color:#e6e6e6;
        box-shadow: 0 2px 4px rgba(0,0,0,.2); /* subtle shadow for depth */
        margin-left: 23em;
        height: 30px;
      
    }
.tableMenuBar .export-block {
    position: relative;
    float: left;
    z-index: 100;
}
.tableMenuBar .export-block ul {

    display: inline-flex; /* Use Flexbox */
   
    /* justify-content: flex-end;  */
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Adjust margin as needed */
    float: left;
}
.tableMenuBar .export-block ul li {
    margin-right: 2px; /* Space between items */

}
.tableMenuBar .export-block ul li:last-child {
    margin-right: 0;
}

.tableMenuBar .export-block ul li a img {
    width: 24px;
    height: 24px;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out; /* Transition effect */

}

.tableMenuBar .export-block ul li a img:hover {
    width: 48px;
    height: 48px;
    z-index: 101;

}
#redSVG,#greenSVG {
    width: 24px;
    height: 24px;
    transition: box-shadow 0.3s ease; /* Transition effect */
}

/* When the greenSVG is supposed to appear raised */
#greenSVG {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow gives a lifted effect */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}

/* When the redSVG is supposed to appear pressed in */
#redSVG {
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2); /* Inset shadow gives a pressed effect */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}
        /* Hide the green SVG initially */
#greenSVG { display: none; }

.tableMenuBar .quickSerachInTable {
    position:relative;
   
/* For medium-sized screens (e.g., tablets) */
@media (max-width: 768px) {
    .container .export-block ul li {
        margin-right: 8px; /* Slightly smaller space */
    }
}

/* For small-sized screens (e.g., mobile phones) */
@media (max-width: 480px) {
    .container .export-block ul li {
        margin-right: 5px; /* Even smaller space */
    }
}
</style>
<body>

    <!-- To solve issue with long string in the kubernets description -->
    <div class="sidebar">
        <input type="text" id="searchBox" placeholder="Search..." onkeyup="filterList()">
        <ul id="dataList">
            {% for item in data %}
                <li>
                    <a href="{{ item.hyperlink }}" onclick="showTable('{{ item.table_name|escapejs }}', '{{ item.table_description|escapejs }}','{{ item.hyperlink|escapejs }}')">
                        {% if 'kubernetes' in item.table_name or 'helm' in item.table_name %}
                            {{ item.table_name }}
                        {% else %}
                            {{ item.table_description }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    

<div class="tableMenuBar">
    <div class="main-content" id="mainContent">
      <p>Click on a table name to see details.</p> 
    </div>

      
 
    <div  id="tableBarItems"></div>    
</div>

<div id="progressBarContainer">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<div class="hot-container" id="hot"></div>



</body>
<script>
    var filteredData = [];
    var submenuItems = [];
     var staticUrls = {
        aiIcon: "{% static 'landing/img/artifical-intelligence.svg' %}",
        terminalIcon: "{% static 'landing/img/terminal.svg' %}",
        pivotIcon: "{% static 'landing/img/chart-arrow-up-icon.svg' %}",
        yamlIcon: "{% static 'landing/img/yaml-file-format-icon.svg' %}",
        jsonIcon: "{% static 'landing/img/json-code-icon.svg' %}",
        csvIcon: "{% static 'landing/img/csv-icon.svg' %}",
        htmlIcon: "{% static 'landing/img/html-file-format-icon.svg' %}",
        docIcon: "{% static 'landing/img/doc-icon.svg' %}",
        pptIcon: "{% static 'landing/img/ppt-icon.svg' %}",
        pdfIcon: "{% static 'landing/img/pdf-icon.svg' %}",
        refreshRedIcon: "{% static 'landing/img/refresh-red.svg' %}",
        refreshGreenIcon: "{% static 'landing/img/refresh-green.svg' %}"
    };

    function updateSubmenuItems(currentTableName){
        
        console.log("Current Table Name",currentTableName);
        var yaml_data = "{{ dynamic_form  | escapejs }}"
        yaml_data =JSON.parse(yaml_data ); 
        console.log("Yaml",yaml_data);
        i=0;
        if (yaml_data && yaml_data.length > 0) {
            yaml_data.forEach(function(data) {
            data.table_path.forEach(function(path) {
                // Convert wildcard paths to regex, e.g., '/table/aws_ec2_*' becomes '/table/aws_ec2_.*'
                var regex = new RegExp("^" + path.replace(/\*/g, '.*') + "$");

                if (regex.test(currentTableName)) {
                    console.log("Match found for: " + currentTableName + " with path: " + path + " heading "+ data.form_heading);
                    // Update submenuItems with the form heading for matched paths.
                    submenuItems.push({ key: 'actions:item' + i , name: data.form_heading,tableName:currentTableName });
                    i=i+1;
                  
                }
            });
        });
            console.log("Updated submenuItems:", submenuItems);   
        } else {
        console.log("No data found in the YAML file.");
        
         }
        

    }
   
  
    var tableData = [];
    var currentTableName = '';
    
    function showTable(tableName,TableDes,hyperLink) {
       
    event.preventDefault(); // Prevent default link behavior
    currentTableName = tableName; // Set the global variable
    

    var mainContent = document.getElementById('mainContent');
    var progressBarContainer = document.getElementById('progressBarContainer');
    var progressBar = progressBarContainer.querySelector('.progress-bar');

    // Show the progress bar
    progressBarContainer.style.display = 'block';
    progressBar.style.width = '5%'; // Indeterminate progress
   

    // AJAX request to fetch JSON data
    fetch(hyperLink)
        .then(function(response) {
            progressBar.style.width = '75%'; // Update progress
            return response.json(); // Parse JSON from the response
        })
        .then(function(data) {
            // Hide the progress bar
            progressBarContainer.style.display = 'none';
            progressBar.style.width = '0%'; // Reset progress
            tableData = data.json_data;
            
            // refreshButton = `
            //     <img id="greenSVG" src="${staticUrls.refreshGreenIcon}" alt="Green SVG">
            //     <img id="redSVG" src="${staticUrls.refreshRedIcon}" alt="Red SVG">
            // `;
            inputHtml = '<input  class="quickSerachInTable" type="text" id="searchInTable" placeholder="Search..." ">';
            // myJsonData=hotInstance.getData();
            var exportBlockHtml = `
            
        <div class="export-block">
            <ul>
                <li><a class="dropdown-item"  id="aiIawsToggle" href="#"   title="AI">
                    <img title="AI" src="${staticUrls.aiIcon}" alt="AI">
                </a></li>
                <li><a class="dropdown-item"  id="terminalIawsToggle" href="#"   title="Command Prompt">
                    <img title="Command Prompt" src="${staticUrls.terminalIcon}" alt="Terminal">
                </a></li>
                <li><a class="dropdown-item" href="#"  ">
                    <img id="greenSVG" src="${staticUrls.refreshGreenIcon}" alt="Green SVG">
                </a></li>
                <li><a class="dropdown-item" href="#"  ">
                    <img id="redSVG" src="${staticUrls.refreshRedIcon}" alt="Red SVG">
                </a></li>
                <li><a class="dropdown-item" href="#" onclick="showPivotModal(); return false;">
                    <img src="${staticUrls.pivotIcon}" alt="Pivot Table ">
                </a></li>
                <li><a class="dropdown-item" href="#" onclick="exportJsonToYaml(hotInstance.getData()); return false;">
                    <img src="${staticUrls.yamlIcon}" alt="Export to YAML ">
                </a></li>
                <li><a class="dropdown-item" href="#" onclick="exportJson(hotInstance.getData()); return false;">
                    <img src="${staticUrls.jsonIcon}" alt="Export to Json ">
                </a></li>
                <li><a class="dropdown-item" href="#" onclick="exportToCsv(hotInstance.getData()); return false;">
                    <img src="${staticUrls.csvIcon}" alt="Export to CSV ">
                </a></li>
                <li><a class="dropdown-item" href="#" onclick="exportToHtml(hotInstance.getData()); return false;">
                    <img src="${staticUrls.htmlIcon}" alt="Export to HTML ">
                </a></li>
                <li><a class="dropdown-item" href="#" onclick="exportToDoc(hotInstance.getData()); return false;">
                    <img src="${staticUrls.docIcon}" alt="Export to Doc ">
                </a></li>
                <li><a class="dropdown-item" href="#" onclick="exportToPPT(hotInstance.getData()); return false;">
                    <img src="${staticUrls.pptIcon}" alt="Export to PPT ">
                </a></li>
                <li><a class="dropdown-item" href="#" onclick="exportToPDF(hotInstance.getData()); return false;">
                    <img src="${staticUrls.pdfIcon}" alt="Export to PDF ">
                </a></li>
            </ul>
        </div>`;
    
             // Check if tableData has data and update the message
            if (tableData.length > 1) {
                document.getElementById('tableBarItems').innerHTML =  inputHtml + exportBlockHtml;
                 // Now, attach the event listener
               
                attachSearchListener(); 
                initializeSVGVisibility();
                attachSVGEventListeners();
                initializeTerminalToggleListeners();
                initializeAIToggleListeners();
                updateSubmenuItems(currentTableName);
                
               
            } else {
                document.getElementById('tableBarItems').innerHTML = '';
            }

            createHandsontable(tableData);
            // Process and display the JSON data
            mainContent.innerHTML = '<h2>' + TableDes + '</h2>';
            // Optionally append preformatted JSON data
            // mainContent.innerHTML += '<pre>' + JSON.stringify(data, null, 2) + '</pre>';
        })
        .catch(function(error) {
            // Hide the progress bar and handle errors
            progressBarContainer.style.display = 'none';
            progressBar.style.width = '0%'; // Reset progress
            mainContent.innerHTML = '<p>Error fetching details.</p>';
        });
}

function attachSearchListener() {
    data = JSON.parse(tableData);
    console.log("attachSearchListener() started");
    var searchInput = document.getElementById('searchInTable');
    console.log("searchInput element:", searchInput);

    if (searchInput) {
        console.log("Found 'searchgrid', adding event listener");
        searchInput.addEventListener('keyup', function() {
            console.log("keyup event triggered");

            var query = this.value.toLowerCase();
            console.log("Current query:", query);

            // Check if tableData is defined
            if (typeof tableData === 'undefined') {
                console.error("tableData is not defined");
                return;
            }

           
  var filteredData = data.filter(function(row) {
    return Object.values(row).some(function(value) {
      return value && value.toString().toLowerCase().includes(query);
    });
  });
  console.log("filteredData:", filteredData);
   // Check the state of the 'hot' object
   console.log("hot object:", hot);
    // Check if loadData is a function
    if (typeof hotInstance.loadData === 'function') {
        hotInstance.loadData(filteredData);
            } else {
                console.error('hotInstance.loadData is not a function');
            }
});

            
    } else {
        console.error('searchgrid element not found');
    }

    console.log("attachSearchListener() complete");
}


</script>


<style>
    .pivotModalPopup {
        /* Centering the pivot table in the modal */
        display: flex;        /* Enables flexbox */
        justify-content: left;  /* Centers content horizontally in the flex container */
        align-items: center;      /* Centers content vertically in the flex container */
        height: 100%;        /* Sets the height to fill the modal */

        /* Optional: Additional styling to improve appearance */
        padding: 10px;       /* Adds some spacing inside the modal */
        box-sizing: border-box; /* Ensures padding doesn't affect overall dimensions */
    }
    .modal-dialog {
        display: flex;
         max-width: 100%;
         width: auto; /* Allows the width to be set dynamically */
         opacity: 0.90;
         background-color: rgba(255, 255, 255, 0); /* Fully transparent modal content */
}

</style>


  
  <!-- Modal -->
  <div class="modal fade" id="pivotModal" tabindex="-1" aria-labelledby="pivotModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pivotModalLabel">Pivot Table</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

         <div id="pivotModalPopup" class="pivotModalPopup" >

            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      
    </div>
    </div>
  </div>


<script>
    
  

function initializePivotTable() {
    if (hotInstance) {
        console.log('Handsontable instance available.',hotInstance);
        var data = hotInstance.getData();
        var colHeaders = hotInstance.getColHeader();
        var { data: handsontableData, colHeaders }= { data, colHeaders };
    } else {
        console.error('Handsontable instance is not available.');
        var { data: handsontableData, colHeaders }= { data: [], colHeaders: [] }; // Return empty data and headers if no instance available
    }
    // var { data: handsontableData, colHeaders } = getHandsontableData();
    // Check if handsontableData is valid
    if (!handsontableData || !Array.isArray(handsontableData)) {
        console.error("Invalid handsontable data:", handsontableData);
        return;
    }

    // Function to safely parse JSON strings in data
    function safeParseJSON(json) {
        try {
            return JSON.parse(json);
        } catch (e) {
            return json;
        }
    }

    // Convert the array of arrays into an array of objects using column headers
    var convertedData = handsontableData.map(row => {
        let obj = {};
        row.forEach((cell, index) => {
            obj[colHeaders[index]] = safeParseJSON(cell);
        });
        return obj;
    });

    // Define your dynamicRows, dynamicCols, dynamicVals based on the colHeaders
    var dynamicRows = [colHeaders[0], colHeaders[1]]; // Example
    var dynamicCols = [colHeaders[2], colHeaders[3]]; // Example
    var dynamicVals = [colHeaders[4]]; // Example

    $("#pivotModalPopup").pivotUI(convertedData, {
        renderers: $.extend(
            $.pivotUtilities.renderers,
            $.pivotUtilities.plotly_renderers
        ),
        rows: dynamicRows,
        cols: dynamicCols,
        vals: dynamicVals,
        aggregatorName: "Count", // Adjust as needed
        rendererName: "Table" // Adjust as needed
    });
}

// Event listener for the PivotTable modal button
document.querySelector('.btn-primary').addEventListener('click', function() {
    initializePivotTable();
});
function showPivotModal() {
    initializePivotTable();
    
    var myModal = new bootstrap.Modal(document.getElementById('pivotModal'));
    myModal.show();
}

function initializeSVGVisibility() {
    var greenSVG = document.getElementById('greenSVG');
    var redSVG = document.getElementById('redSVG');

    // Explicitly set the initial display properties
    greenSVG.style.display = 'none'; // Hide the greenSVG initially
    redSVG.style.display = 'block'; // Show the redSVG initially
}
function attachSVGEventListeners() {
    var greenSVG = document.getElementById('greenSVG');
    var redSVG = document.getElementById('redSVG');

    // When greenSVG is clicked, hide it and show redSVG without refreshing data
    greenSVG.addEventListener('click', function() {
        toggleSVGVisibility(false); // No data refresh
    });

    // When redSVG is clicked, hide it and show greenSVG, and refresh data
    redSVG.addEventListener('click', function() {
        toggleSVGVisibility(true); // Data refresh
    });
}

function toggleSVGVisibility(refreshData) {
    var greenSVG = document.getElementById('greenSVG');
    var redSVG = document.getElementById('redSVG');

    // Determine which SVG is currently visible
    var isGreenVisible = greenSVG.style.display !== 'none';

    // Toggle the visibility of SVGs
    greenSVG.style.display = isGreenVisible ? 'none' : 'block';
    redSVG.style.display = isGreenVisible ? 'block' : 'none';

    // Refresh data if transitioning from red to green
    if (!isGreenVisible && refreshData) {
        fetchAndUpdateData();
    } else {
        console.log('Not refreshing data');
    }
}

function fetchAndUpdateData() {
    console.log('Fetching and updating data...');
    // Implement the actual data fetching and updating logic here
}


</script>
{% include 'landing/terminal.html' %}
<script>
    function initializeTerminalToggleListeners() {
        console.log('Initializing terminal toggle listeners');
    // Assuming the container might include dynamic elements like 'terminalToggle'
    const container = document.getElementById('terminalIawsToggle'); // Adjust based on your actual container

    container.addEventListener('click', function(event) {
        if (event.target.id === 'terminalIawsToggle' || event.target.closest('#terminalIawsToggle')) {
            console.log('Terminal toggle clicked');
            event.preventDefault(); // Optional: Prevent default if it's a link or similar
            toggleTerminalVisibility(); // Adjust this function to your needs
        }
        // Add additional conditions here for other SVGs or interactive icons as needed
    });
}

// Example function to toggle terminal visibility
function toggleTerminalVisibility() {
    const terminalSection = document.querySelector('.footer'); // Or wherever your terminal is
    console.log('Toggling terminal visibility');
    if (terminalSection) {
        terminalSection.classList.toggle('active');
        console.log('Terminal visibility toggled');
    }

}

</script>

{% include 'landing/AI.html' %}
<script>
    function initializeAIToggleListeners() {
        console.log('Initializing terminal toggle listeners');
    // Assuming the container might include dynamic elements like 'terminalToggle'
    const container = document.getElementById('aiIawsToggle'); // Adjust based on your actual container

    container.addEventListener('click', function(event) {
        if (event.target.id === 'aiIawsToggle' || event.target.closest('#aiIawsToggle')) {
            console.log('Terminal toggle clicked');
            event.preventDefault(); // Optional: Prevent default if it's a link or similar
            toggleAIVisibility(); // Adjust this function to your needs
        }
        // Add additional conditions here for other SVGs or interactive icons as needed
    });
}

// Example function to toggle terminal visibility
function toggleAIVisibility() {
    const terminalSection = document.querySelector('.ai-side-bar'); // Or wherever your terminal is
    console.log('Toggling terminal visibility');
    if (terminalSection) {
        terminalSection.classList.toggle('active');
        console.log('Terminal visibility toggled');
    }

}

</script>

{% endblock %}
