{% extends 'landing/base.html' %}
{% block content %}
{{data|safe}} 

<style>
    .category-card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border: none;
        margin-bottom: 20px;
        border-radius: 0.25rem;
        background-color: #f8f9fa;
    }

    .category-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .category-title {
        padding: 10px;
        text-align: center;
    }

    .card-flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-flex-item {
        margin: 5px;
    }
</style>

<div class="container my-5">
    <h1 class="text-center">{{platform_name}} Compliance By Service</h1>
    {% if categories %}
        <div class="card-flex-container">
            {% for category in categories %}
                <div class="card-flex-item col-lg-2 col-md-4 col-sm-12 mb-4">
                    <div class="card category-card">
                        <div class="card-body">
                            <h5 class="category-title"><a href="{% url 'landing:compliance_report_by_servicename' platform_name category %}" target="_blank" class="stretched-link">{{ category }}</a></h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>



{% endblock %}