{% extends 'landing/base.html' %}
{% block content %}
<style>
    .hover-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card-logo {
    width: 100px; /* Fixed width */
    height: 60px; /* Fixed height */
    object-fit: contain; /* Ensures the image is scaled properly */
    display: block;
    margin: 0 auto;
}


</style>
<div class="row mt-4">
    <div class="col">
        <!-- AWS Card -->
        <div class="card hover-card mb-2">
            <div class="card-body text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg" alt="AWS Logo" class="card-logo mb-2">
                <h5 class="card-title">Amazon Web Services</h5>
                <p class="card-text">Access AWS resources and information.</p>
                <a href="{% url 'landing:dashboard' %}?provider=aws" class="btn btn-primary">Go to AWS</a>
               
            </div>
        </div>
    </div>
    <div class="col">
        <!-- Google Cloud Card -->
        <div class="card hover-card mb-2">
            <div class="card-body text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Google_Cloud_logo.svg" alt="Google Cloud Logo" class="card-logo mb-2">
                <h5 class="card-title">Google Cloud</h5>
                <p class="card-text">Explore Google Cloud services and tools.</p>
              
                <a href="{% url 'landing:dashboard' %}?provider=gcp" class="btn btn-success">Go to Google Cloud</a>
            </div>
        </div>
    </div>
    <div class="col">
        <!-- Microsoft Azure Card -->
        <div class="card hover-card mb-2">
            <div class="card-body text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Microsoft_Azure_Logo.svg" alt="Azure Logo" class="card-logo mb-2">
                <h5 class="card-title">Microsoft Azure</h5>
                <p class="card-text">Discover Microsoft Azure capabilities.</p>
                <a href="{% url 'landing:dashboard' %}?provider=azure" class="btn btn-info">Go to Azure Cloud</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}