{{data}}




<!-- format -->
<script>

  var data = {{ data | safe }};
  console.log("data-->", data);
  //  var data= rawData;
  // console.log("Raw Data:", rawData); // Check what data is loaded

  // Ensure rawData is an array of objects
  // const data = (Array.isArray(rawData) && rawData.length > 0) ? rawData : [[]];
  // const keys = data[0] ? Object.keys(data[0]) : [];
  // const keys="['_ctx', 'account_id', 'acl', 'akas', 'arn', 'block_public_acls', 'block_public_policy', 'bucket_policy_is_public', 'creation_date', 'event_notification_configuration', 'ignore_public_acls', 'lifecycle_rules', 'logging', 'name', 'object_lock_configuration', 'object_ownership_controls', 'partition', 'policy', 'policy_std', 'region', 'replication', 'restrict_public_buckets', 'server_side_encryption_configuration', 'tags', 'tags_src', 'title', 'versioning_enabled', 'versioning_mfa_delete', 'website_configuration']"
  const keys = Object.keys(data[0]);


  // console.log("data",data)
  
  

  // Ensure the container element exists
  const container = document.querySelector('#awstable');
  if (!container) {
    console.error('Container element not found');
    //  return ;
  }
  let selectedData = null;
  const hot = new Handsontable(container, {
    data: data,
    rowHeaders: true,
    colHeaders: keys,

    filters: true,
    readOnly: true,
    dropdownMenu: true,
    manualColumnResize: true,
    manualRowResize: true,
    manualColumnFreeze: true,
    columnSorting: true,
    persistentState: true,
    contextMenu: true,
    hiddenRows: true,
    minSpareRows: 1,
    height: 'auto',
    width: 'auto',
    afterSelectionEnd: function (rowStart, columnStart, rowEnd, columnEnd) {
    // Initialize selectedData
    selectedData = [];

    if (rowStart === rowEnd) {
        // Single row selected
        const rowData = keys.map(key => this.getDataAtCell(rowStart, keys.indexOf(key)));
        selectedData.push(keys); // Add headers as the first row
        selectedData.push(rowData); // Add data row
    } else {
        // Multiple rows selected
        selectedData.push(keys); // Add headers as the first row

        for (let row = Math.min(rowStart, rowEnd); row <= Math.max(rowStart, rowEnd); row++) {
            const rowData = keys.map(key => this.getDataAtCell(row, keys.indexOf(key)));
            selectedData.push(rowData); // Add data rows
        }
    }

    
    // You can perform any desired actions with the data here
},



    // afterDeselect: function () {
    //     selectedData = null; // Clear selectedData when deselected
    // },
    contextMenu: {
      callback(key, selection, clickEvent) {
        // Common callback for all options
        console.log(key, selection, clickEvent);
      },
      items: {
        row_above: {
          disabled() { // `disabled` can be a boolean or a function
            // Disable option when first row was clicked
            return this.getSelectedLast()[0] === 0; // `this` === hot
          } // Closing bracket for disabled function
        }, // Closing bracket for row_above object
        // 'sp1': { name: '---------' } // Commented out line
        sp1: '---------',

        terraform: {
          name: 'Terraform Import', // Set custom text for predefined option
          disabled: function() {
            // Check if 'arn' is present in headings
            return !keys.includes('arn');
          },
          callback: function(key, selection, clickEvent) {
              let selectedData = []; // Array to hold selected rows data

              // Check if any rows are selected
              if (!selection || selection.length === 0) {
                console.log("No rows selected");
                return;
             }

            // Get all selected ranges
              const selectedRanges = hot.getSelected() || [];

              selectedRanges.forEach(range => {
            // Each range is an array of [startRow, startCol, endRow, endCol]
              const startRow = range[0];
              const endRow = range[2];

            // Collect data for all selected rows
            for (let row = startRow; row <= endRow; row++) {
              const rowData = hot.getSourceDataAtRow(row);
              selectedData.push(rowData);
            }
          });

          // Log or use the collected data
          console.log("Selected Rows Data:", selectedData);
          postDataToGetFile('{% url 'landing:terraform_import_process' %}', JSON.stringify({ "selected_data_for_terraform_import":selectedData}) , 'post');
                

    // Additional code to send this data to a Python backend can be added here

        }


    // Additional logic for specific actions can be added here


        }, // Closing bracket for row_below object
        row_below: {
          name: 'Click to add row below' // Set custom text for predefined option
        }, // Closing bracket for row_below object
        about: { // Own custom option
          name() { // `name` can be a string or a function
            return '<b>Custom option</b>'; // Name can contain HTML
          }, // Closing bracket for name function
          hidden() { // `hidden` can be a boolean or a function
            // Hide the option when the first column was clicked
            return this.getSelectedLast()[1] == 0; // `this` === hot
          }, // Closing bracket for hidden function
          callback(key, selection, clickEvent) { // Callback for specific option
            setTimeout(() => {
              alert('Hello world!'); // Fire alert after menu close (with timeout)
            }, 0);
          } // Closing bracket for callback function
        }, // Closing bracket for about object
        
        actions: {
          name: 'Actions',
          submenu: {
            items: submenuItems.map(item => ({
              key: item.key,
              name: item.name,
              callback(key, selection, clickEvent) {
                setTimeout(() => {
                  console.log('item name', item.name);
                  console.log('item', item.key);
                  console.log('Selected range data:', convertSelectedDataToJSON(selectedData));
              //  "{% url 'landing:benchmark_view' 'aws'  %}"
                  postData('{% url 'landing:store_heading_path_data' %}', { "table_path":removeActionsPrefix(item.key) ,"form_heading": item.name , "row_data": convertSelectedDataToJSON(selectedData)  } , 'post');
                  // console.log("selection", selectedData);

                }, 0);
              }
            }))
          }
        },
        credits: {
          renderer(hot, wrapper, row, col, prop, itemValue) {
            const elem = document.createElement('marquee');
            elem.style.cssText = 'background: lightgray;';
            elem.textContent = 'Brought to you by...';
            return elem;
          }, // Closing bracket for renderer function
          disableSelection: true,
          isCommand: false
        } // Closing bracket for credits object
      } // Closing bracket for items object
    }, // Closing bracket for contextMenu object




    separator: Handsontable.plugins.ContextMenu.SEPARATOR,
    licenseKey: 'non-commercial-and-evaluation', // for non-commercial use only
    beforeRemoveRow: function (index, amount) {
      //  console.log('beforeRemove: index: %d, amount: %d', index, amount);
      var sourceRow = hot.getSourceDataAtRow(index);
      console.log(sourceRow)
      var confirmation = confirm("Are you sure you want to remove the item? No recovery possible.");

      if (confirmation) {
        // execute ajax
        alert('Bucket Removed');

        postData('{% url 'removeS3_bucket'%}', { "bucketName": sourceRow["Name"] }, 'post');
      }

    },
    afterCreateRow: function (index, amount, source) {
      row_id = index;
    },

    afterChange: function (changes, source) {
      if (source == 'loadData') {
        // console.log("NO CHANGE");
      } else {
        console.log("AFTER CHANGE SOURCE changes.length", source, changes);
        if (source == "edit" || source == "UndoRedo.undo" || source === 'CopyPaste.paste' || source === 'Autofill.fill') {
          var rowThatHasBeenChanged = changes[0][0],
            columnThatHasBeenChanged = changes[0][1],
            previousValue = changes[0][2],
            newValue = changes[0][3];
          console.log("ROW THAT HAS BEEN CHANGED", rowThatHasBeenChanged, columnThatHasBeenChanged, previousValue, newValue);
          if (previousValue == null) {
            console.log("NEW ROW");
            postData('{% url 'createS3_bucket'%}', { "bucketName": newValue }, 'post');

          }
        }
      }
    }





  });

</script>


