/* your_app/static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.schedule header {
    background-color: #007bff;
    color: #ffffff;
    padding: 1px 0;
    text-align: center;
    padding-bottom: 0%;
}



.schedule nav ul li {
    display: inline;
    margin: 0 5px;
}

.schedule nav ul li a {
    color: white;
    text-decoration: none;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}



/* Add these styles to your_app/static/css/styles.css */

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 40px auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="submit"],
textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure the padding does not affect the overall width */
    width: 100%;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.errorlist {
    color: red;
    list-style-type: none;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.task-details p {
    margin: 10px 0;
}

.table-responsive {
    overflow-x: auto; /* Ensures the table is responsive */
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.results-table, .results-table th, .results-table td {
    border: 1px solid #ddd;
}

.results-table th, .results-table td {
    padding: 8px;
    text-align: left;
}

.results-table th {
    background-color: #4CAF50;
    color: white;
}

.results-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-delete {
    background-color: #ff6347; /* Tomato */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #ff5237; /* Darker shade of tomato */
}
